<%- include layout/head.ejs %>
<%- include layout/nav.ejs %>
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>在这里，你可以添加，修改和删除便签内容！</p>
      <p>
        <a class="btn btn-primary btn-md" href="/admin/mark/list" role="button">前往便签列表</a>
      </p>
    </div>
  </div>
<%- include layout/foot.ejs %>