<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link href="/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="icon" href="/img/icon.png" type="image/x-icon"> 
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>后台登录-小奇便签</title>
    <style>
      body {
        overflow-x: hidden;
      }
    </style>
  </head>
  <body>
        <div class="container">
            <form class="form-signin">
                <h2 class="form-signin-heading">管理员登录</h2>
                <label for="username" class="sr-only">用户名</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="用户名">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="密码">
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">登录</button>
            </form>
            <div class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>&copy;&nbsp;2018&nbsp;<a href="/">小奇便签</a> 版权所有</p>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/jquery.js"></script>
    <script src="/js/layer.js"></script>
    <script src="/js/admin/login.js"></script>
</html>