<%- include layout/head.ejs %>
    <div class="container">
      <div class="jumbotron">
        <h1><%= title %></h1>
        <p>在这里，你可以添加，修改和删除便签！</p>
        <p>
          <a class="btn btn-primary btn-md" href="/app" role="button">便签前台</a>
          <a class="btn btn-primary btn-md" href="/admin" role="button">便签后台</a>
        </p>
      </div>
    </div>
  </body>
</html>