  <div class="container-fulid text-center">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <p>&copy;2020 <a href="/">小奇便签</a> 版权所有</p>
        </div>
    </div>
  </div>
  </body>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/layer.js"></script>
  <script src="/js/admin/cookie.js"></script>
  <script src="/js/admin/search.js"></script>
</html>