<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link href="/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="icon" href="/img/icon.png" type="image/x-icon"> 
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>小奇便签</title>
    <style>
      body {
        padding-top: 80px;
        overflow-x: hidden;
      }
    </style>
  </head>
  <body>